/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden; /* Zapobieganie przewijaniu strony */
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('theme.mp4'); /* Ścieżka do pliku theme.mp4 */
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px); /* Rozmycie tła o 5px */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Lekko przyciemnione tło */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Zapewnia, że zawartość będzie na wierzchu */
}

.top-bar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.top-bar ul {
    list-style-type: none;
    display: flex;
}

.top-bar li {
    margin-right: 20px;
}

.button img {
    width: 40px; /* Ustawienie szerokości ikon */
    height: auto; /* Zachowanie proporcji */
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.toggle-background-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.toggle-sound-button {
  position: absolute;
  top: 10px; /* Przykładowa wartość */
  left: 10px; /* Przykładowa wartość */
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.toggle-sound-button img {
  width: 40px;
  height: auto;
}
